.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  box-shadow: 8px 8px 2px black;
  border: 1px solid black;
  padding: 12px 32px;
  background-color: rgba(212, 207, 208, 0.441);
  font-weight: bolder;
  width: 550px;
}

label {
  font-size: 26px;
  font-weight: 700;
}

input {
  margin-top: 16px;
  padding: 0 0 40px 0;
  width: 100%;
  max-width: 550px;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow of placeholder text */
  padding-top: 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

input::placeholder {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  max-width: 100%; /* Adjust the value as needed to prevent overflow */
  text-wrap: wrap;
  text-align: center;
  color: black;
}

.character-count {
  text-align: end;
  font-weight: 200;
  padding: 4px;
}

.send {
  width: 260px;
  padding: 4px 10px;
  border-radius: 32px;
  background-color: #ffb7d2;
  border: none;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span {
  font-size: 24px;
}

.error-message {
  position: absolute;
  display: flex;
  width: 100%;
  background: -webkit-linear-gradient(
    45deg,
    #ff1919,
    #ceb64f,
    #5be288,
    #bef146,
    #fa0303
  );
  top: 30%;
  padding: 24px;
  justify-content: center;
  font-size: 24px;
  color: white;
  font-weight: 600;
  transition: opacity 0.5s ease; /* Add transition property for smooth fade-out effect */
  opacity: 1; /* Set initial opacity to fully visible */
}

.error-message.hide {
  opacity: 0; /* Set opacity to 0 when the hide class is added */
}

.bounce-in {
  animation: bounceIn 0.5s;
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(30%);
    opacity: 0.7;
  }
  70% {
    transform: translateY(-10%);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.loading {
  display: flex;
  margin-top: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin-top: 12px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 470px) {
  .form-container {
    height: 320px;
  }
  .thought {
    width: 230px;
    margin-left: 10px;
  }
}

.character-count.over-limit {
  color: red;
}
