.list-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thought {
  box-sizing: border-box;
  box-shadow: 8px 8px 2px black;
  padding: 14px 18px;
  padding-bottom: 22px;
  margin-top: 20px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-weight: 400;
  font-size: 18px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100%;
  max-width: calc(100vw - 20px);

  /* Ensure no additional margin or padding */
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.thought-list button {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 6px;
  padding-bottom: 3px;
  border-radius: 100px;
  margin-right: 6px;
  border: none;
  animation: pulsate 1.7s infinite;
  font-size: 26px;
  background-color: rgba(128, 128, 128, 0.32);
}

.pink-heart {
  background-color: pink !important;
}

.heart-text {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

.timestamp {
  margin-left: auto;
}

/* Add this CSS to your style.css file */
@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.liked-thoughts-count {
  position: absolute !important;
  width: 140px;
  justify-content: center !important;
  background-color: #fec3d8;
  padding: 10px;
  margin-bottom: 18px;
  border-radius: 28px;
  border: 1px solid rgba(0, 0, 0, 0.241);
  right: 0% !important;
  top: -100%;
  transform: translateX(-50%) !important;
}

@media (min-width: 550px) {
  .thought {
    max-width: 550px; /* Adjust as needed for larger screens */
  }
}